/******************************************
*
*   Fron-end News
*   color: #fff
*
*
*
*******************************************

/******************************************
* Base
-------------------------------------------
*/

body {

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ol, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

p {

}

a {
  text-decoration: none;
  color: #ff4081;
}

a:active,
a:hover,
a:focus {
  color: #212121;
}

/********************************************/
/*   Hero                                   */
/********************************************/

.hero {
  background-color: #3f51b5;
  padding: 20px 0;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

/********************************************/
/*   Logo                                   */
/********************************************/

.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: Lato, Helvetica, Garamond, sans-serif, serif;
  text-shadow: 2px 2px 10px rgb(55, 55, 55);
  text-transform: uppercase;
}
/********************************************/
/*   News                                   */
/********************************************/

.news-item {
  border-bottom: 1px solid #999999;
  font-family: Lato, Helvetica, Garamond, serif, sans-serif;
  margin-bottom: 20px;
  padding-bottom: 20px;
  transition: 0.5s;
}

.news-link {
  color: #3f51b5;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

.news-meta-item{
  display: inline;
  margin-right: 15px;
}

/********************************************/
/*   Container
*********************************************/

.container {
  margin: 0 auto;
  max-width: 800px;
}

/********************************************/
/*   Form
*********************************************/
.js-form {
  display: none;
}

.form {
  margin-bottom: 40px;
  padding-bottom: 5px;
}

.new-story {
  font-family: Lato, Helvetica, Garamond, serif, sans-serif;
}

.form-label {
  font-family: Lato, Helvetica, Garamond, serif, sans-serif;
}

.story-link:active,
.story-link:hover,
.story-link:focus{
  color: #ff4081;
}

.story-link {
  font-family: Lato, Helvetica, Garamond, serif, sans-serif;
}

.form-input {
  border-radius: 3px;
}

/********************************************/
/*   States
*********************************************/

.is-liked {
  animation: flash 2s;
}

/********************************************/
/*   ANIMATION
*********************************************/
@keyframes flash {
  from, 50%, to {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
